@import '../../helpers/mixins.scss';
@import '../../helpers/animations.scss';


.component-primary-banner-b {
    
    background-color: white;
    background-image: url('/images/bg_color_2.jpg'); 
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;

}

