@import '../../helpers/mixins.scss';
@import '../../helpers/animations.scss';


.display-banner-h {
    position: relative;
    

    h1 {
        color: white;
        // font-size: 2.2rem;  
        // line-height: 3rem;    
    }

    p {
        // font-size: 1.2rem;
        color: white;
        font-weight: normal;
        // line-height: 2rem;        
    }
    


    .wrapper-display--banner {
        background-color: #30B1A5;

        button {
            background-color: #FF585B;
            color: white;
            padding: 10px 20px;
            border: none;

            &:hover {
                background-color: #fd6c6f;
            }
        }
    }  

}

