@import '../../helpers/mixins.scss';
@import '../../helpers/animations.scss';


.component-primary-banner-aa {
    
    background-image: url('/images/background-dev.jpg');
    background-size: cover;
    background-position: center center;
    // background-color: #F3F4F8;

}

