@import '../../helpers/mixins.scss';
@import '../../helpers/animations.scss';


.component-primary-banner-r {
    
    background-image: url('/images/background-dev.jpg');
    background-color: black;
    background-size: cover;
    background-position: center center;
    

}

