@import '../../helpers/mixins.scss';
@import '../../helpers/animations.scss';

.component-nav-z {

    .navbar-brand {
        img {
            height: 40px;
            width: auto;
        }
    }

    li.nav-item {
        position: relative;
        font-size: 1.4rem;

        a.nav-link {
            color: gray;
            opacity: .8;
            margin: .5rem 1rem;
            padding: 5px 0px;

            &:hover {
                opacity: 1;
            }
        }

        a.active {
            border-bottom: 1px solid #2D67F7;
            color: #2D67F7;
        }


        a.bt-primary--nav {
            opacity: 1;
            // font-size: 1rem;
            padding: 1rem 2rem;
            margin: 0;
            background-color: #00D4AE;
            color: #fff;
            transition: background-color 0.3s;
            border: 1px solid white;
            
            @include border-radius(.3rem);
            @include transition(background-color .3s);
            
            &:hover {
                background-color: #06e9bf;
            }
        }

        &:hover {

            ul {
                display: block;
                @include box-shadow(0px 6px 8px 7px #0000000a);
            }
        }

        // submenu
        ul {
            display: none;
            position: absolute;
            background: white;
            top: 37px;
            left: 0px;
            padding: 1rem .6rem;
            z-index: 1000;

            li {
                
                a {
                    width: max-content;
                }
            }

        }

    }
    

    // BUG: Bootstrap .collapse add flex-grow:1 so if you don't redefine grow, the justify-content-x of the nav will not set appropriately
    .collapse {
        // flex-grow: initial;
    }
    
    @media #{ $xs, $sm , $md} {  

        .navbar {
            background-color: white;
            padding: 0px 2rem;

            .navbar-brand {
                padding: 0;
                img {
                    height: 3rem;
                    width: auto;
                }
            }

            .navbar-toggler {
                padding: 0px;
                font-size: 2rem;
                .navbar-toggler-open-icon {
                    display: block;
                }
                .navbar-toggler-close-icon {
                
                    display: none;
                }            
            }
            
            .navbar-toggler.collapsed  {
                .navbar-toggler-open-icon {
                    display: none;
                }
                .navbar-toggler-close-icon {
                    
                    display: block;
                }                 
            }        

            .navbar-collapse {


                ul.nav {
                    margin: 0rem;
                    padding: 0;
                    width: 100%;
                    display: block;
                    top: 0px;
                    position: relative;
                    box-shadow: initial;
                    
                    li.nav-item {
                        width: 100%;
                        border-bottom: 1px solid #e2e2e2;
                        
                        a.nav-link {
                            font-size: 1.4rem;
                            margin: 0px !important;
                            background: transparent;
                            color: #2196f3;
                            padding: 0.7rem 0px;
                            border-radius: 0;
                            
                            &:hover {
                                background-color: inherit;
                            }
                            
                            &:active {
                                color: #2196f3;
                            }
                            
                        }
                        

                    }
                    
                }   
            }

            .navbar {
                &:last-child {
                    border-bottom: 1px solid #dedede;
                    
                    li {
                        &:last-child {
                            border: none !important;
                        }
                    }
                }
            }
        }
    }
}
