@import '../../helpers/mixins.scss';
@import '../../helpers/animations.scss';


.component-primary-banner-j {
    
    background-image: url('/images/background-dev.jpg');
    background-size: cover;
    background-position: center center;

}

