@import '../../helpers/mixins.scss';
@import '../../helpers/animations.scss';

.component-nav-a {
    background-color: white;


    .navbar-brand {
        img {
            height: 2.4rem;
            width: auto;
        }
    }

    li.nav-item {
        font-size: 1.4rem;

        a.nav-link {
            color: #777777;
            
            &:hover {
                color: #3d3d3d;
            }
        }


        a.bt-primary--nav {
            background: #61D418;
            padding: 1rem 1.6rem;
            color: white;
            @include border-radius(2rem);
            @include transition(background-color .3s);
            
            &:hover {
                background-color: #67e618;
            }
        }
    }


    // BUG: Bootstrap .collapse add flex-grow:1 so if you don't redefine grow, the justify-content-x of the nav will not set appropriately
    .collapse {
        flex-grow: initial;
    }

    
    @media #{ $xs, $sm } {  

        .navbar {
            background-color: white;
            padding: 0px 2rem;

            .navbar-brand {
                padding: 0;

            }

            .navbar-toggler {
                padding: 0px;
                font-size: 2rem;
                .navbar-toggler-open-icon {
                    display: block;
                }
                .navbar-toggler-close-icon {
                
                    display: none;
                }            
            }
            
            .navbar-toggler.collapsed  {
                .navbar-toggler-open-icon {
                    display: none;
                }
                .navbar-toggler-close-icon {
                    
                    display: block;
                }                 
            }        

            .navbar-collapse {


                ul.nav {

                    margin: 0rem;
                    padding: 0;
                    width: 100%;
                    
                    
                    li.nav-item {
                        width: 100%;
                        border-bottom: 1px solid #e2e2e2;
                        
                        a.nav-link {
                            font-size: 1.4rem;
                            margin: 0px !important;
                            background: transparent;
                            color: #2196f3;
                            padding: 0.7rem 0px;
                            border-radius: 0;
                            
                            &:hover {
                                background-color: inherit;
                            }
                            
                            &:active {
                                color: #2196f3;
                            }
                            
                        }
                        

                    }
                    
                }   
            }

            .navbar {
                &:last-child {
                    border-bottom: 1px solid #dedede;
                    
                    li {
                        &:last-child {
                            border: none !important;
                        }
                    }
                }
            }
        }
    }

    
    @media #{ $xxl } {  
        a.nav-link {
            font-size: 1.6rem;
        }
    }

}
