@import '../../helpers/mixins.scss';
@import '../../helpers/animations.scss';


.component-primary-banner-e {
    
    background-color: #585AC8;
    background-image: url('/images/bg_color_1.jpg');
    background-size: cover;
    background-position: center center;
    

}

