@import '../helpers/mixins.scss';
@import '../helpers/animations.scss';


html { font-size: 62.5%; } /* =10px */
body { 
    background-color: #f1f1f1;
    font-size: 1.6rem; 

} /* =14px */

@media #{ $xs, $sm, $md } {  
    
}
p {
    font-size: 1.6rem;
    line-height: 2.6rem;
    @media #{ $xs } {  
        font-size: 1.6rem;
        line-height: 2.2rem;
    }        
}

h1 {
    &:last-child {
        padding-bottom: 0px !important;
        margin-bottom: 0px !important;
    }
    // xl+
    font-size: 4.6rem;
    @media #{ $md, $lg, $xl } {  
        font-size: 4rem;
    }
    @media #{ $sm } {  
        font-size: 3.6rem;
    }
    @media #{ $xs } {  
        font-size: 3rem;
    }    
}
h2 {
    &:last-child {
        padding-bottom: 0px !important;
        margin-bottom: 0px !important;
        background-color: black !important;
    }
    // xl+
    font-size: 3.2rem;
    @media #{ $md, $lg, $xl } {  
        font-size: 3rem;
    }
    @media #{ $sm } {  
        font-size: 2.4rem;
    }
    @media #{ $xs } {  
        font-size: 1.7rem;
    }    
}

h3 {
    &:last-child {
        padding-bottom: 0px !important;
        margin-bottom: 0px !important;
    }
    // xl+
    font-size: 4rem;
    @media #{ $md, $lg, $xl } {  
        font-size: 3rem;
    }
    @media #{ $sm } {  
        font-size: 2rem;
    }
    @media #{ $xs } {  
        font-size: 1.2rem;
    }    
}


h4, h5, h6 {
    &:last-child {
        padding-bottom: 0px !important;
        margin-bottom: 0px !important;
    }
    // xl+
    font-size: 3rem;
    @media #{ $md, $lg, $xl } {  
        font-size: 3rem;
    }
    @media #{ $sm } {  
        font-size: 2rem;
    }
    @media #{ $xs } {  
        font-size: 1.2rem;
    }    
}


.page-index {
    // background-color: #f1f1f1;
}








// .navbar--main {
//     background-color: white;
//     border-bottom: 1px solid #d0d0d0;    
//     padding-top: 0px;
//     padding-bottom: 0px;

//     a.nav-link {
//         padding: 10px;
//     }

//     a.active {
//         border-bottom: 2px solid red;
//     }

//     form {
//         input {
//             font-size: 1.6rem;
//         }

//         button {
//             font-size: 1.6rem;
//         }
//     }
// }



